.tabbar {
  justify-content: center;
}


.tabs-md .tab-button {
  min-height: 43px;
  font-weight: normal;
  color: rgba(60, 60, 60, 0.7);
  padding: 0;
  max-width: 200px;
  border: 1px solid #707070;
}
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
  color: #D36886;
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
}