page-conformation {
    .icn{
        text-align: center;
        font-size: 146px;
        color: #D36886;
        // margin-top: 40%;
        // margin-bottom: 20%;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .content-md {
        color: #000;
        background-color: #EDE2D5;
    }
    .txt{
        font-size: 17px;
        color: #707070;
        text-align: center;
    }
    .bt{
        text-align: center;
        
    }
    .button-md {
        height: 48px;
        width: 100%;
        font-size: 12px;
        font-weight: 300;
        color: white;
        background: linear-gradient(271deg, #F47071, #4527A0);
    }
    
}
